
/*Universal*/
html {
  font-family: helvetica;
  color:#4a4a4a;
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size:1.17em;
}
.flex {
  display: flex;
}
.sb {
  justify-content: space-between;
}
.vcenter{
  align-items: center;
}
.graybg {
  background-color: #d8d8d8
}

/*Header*/
header {
  height: 64px;
}
/*Logo*/
#logo{
  padding-left: 24px;
  color: grey;
}
#logo img {
  max height:55px;
}
#logo span{
  font-weight: bolder;
  color:#3c3838;
}
/*Navigation*/
nav{
  margin-top: auto;
  margin-bottom: auto;
}
nav a{
  text-decoration: none;
  color:black;
  padding-left: 16px;
}
nav ul:last-child {
  padding-right: 24px;
}
#mobilenav{
  display: none;
}
@media only screen and (max-width:525px) {
  #logo p{
    display: none;
  }
}
@media only screen and (max-width:480px) {
  #logo, #navbig {
    display: none;
  }
#mobilenav {
  display:flex;
  width:100%;
  justify-content: space-around;
}
}
/*Call To Action*/
.CTAimg {
  width:60%;
  height:auto;
}
.CTAimg img {
  max-width:100%;
  height:auto;
  padding:32px 24px;
}
.CTAtext {
  flex:1;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 40px;
  padding-left: 40px;
}
.CTAtext p {
  padding:32px 0;
}
.CTAbtn {
  flex:0 100%;
  text-align: center;
  padding:8px ;
  color:white;
  background-color: #4a4a4a;
}
@media only screen and (max-width:480px) {
  #CTA {
    flex-wrap: wrap;
  }
  .CTAimg {
    width: 100%;
    height:180px;
    overflow: hidden;

  }
  .CTAimg img {
    width: 100%;
    height:auto;
    padding:0 0;
  }
  .CTAtext {
    padding: 32px 16px;
    margin: 0;
  }
  .CTAtext p {
    padding-top: 32px;
    padding-bottom: 24px;
  }
}
/*Info Section*/
.infoHeadline {
  padding: 32px 24px;
}
.infoHeadline img {
  max-width:100%
}
.infoHeadline video {
  max-width:100%
}
.infoHeadline h2 {
  padding: 32px 0;
}
.infoHeadline p {
  font-weight: lighter;
}
.infoHeadline #quote {
  padding-bottom: 30px;
}
.infoStories {
  flex-direction: column;
  justify-content: center;
  flex:0 0 432px;
  border-left: 1px solid #d8d8d8;

}
.infoStory {
  border-bottom: 1px solid #d8d8d8;
  padding:16px;
}
.storyImg {
  width: 35%;
}
.storyImg  img{
  width:100%;
  height:auto;
}
.storyText {
  flex:1;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  padding:16px;
}
.storyText p {
  font-weight: lighter;
  padding: 8px 0;
}
.storyText span {
  font-weight: lighter;
  color: #558dca;
}
/*Major Section*/
.majorHeader {
  padding-top: 32px;
  text-align: center;
}
.degreesContainer {
  padding: 32px 25px;
  justify-content: center;
  flex-wrap: wrap;

}
.degreeContainer {
  padding: 12px 16px;
  flex: 0 0 30%;
  flex-direction: column;
}
@media only screen and (max-width:1050px) {
  .degreeContainer {
    flex: 0 0 25%;
  }
}
/*^^^^^^NEED MEDIA QUERRY TO DROP PADDING SO IT REMAINS 3 COLUMNS*/
.degreeImg img{
  width:100%;
}
.degreeInfo {
  background-color: #FFFFFF;
  padding: 16px;
  flex-grow: 1;
}
.degreeInfo #courses {
  padding: 8px 0;
}
.degreeInfo:last-child {
  padding-bottom: 24px'
}
/*Exhibit section*/
.exhibitHeadline video {
  max-width:90%;
  padding: 0 24px;
}
.exhibitText h2{
  padding:32px 0;
}
.exhibitText p {
  padding-bottom: 32px;
}
.exhibitText {
  padding:0 32px;
}
#thesisHeader {
  text-align: center;
  padding: 32px 0;
}
#thesisOverride {
  border: 0;
  justify-content: flex-start;
}
/*Footer*/
footer {
  border-top: 1px solid #d8d8d8;
  height:70px;
}
footer p{
  padding-left: 24px;

}
